{% load static %}
<footer class="bg-dark text-white pt-5">
  <div class="container">
    <div class="row">
      <div class="col-sm-2 mb-4">
        <a class="navbar-brand text-white d-flex align-items-center mb-3" href="#">
          <img src="{% static 'icons/sb-logo.png' %}" alt="SkillBridge" width="50" height="30" class="me-2">
        </a>
        <p style="font-size:0.7rem; line-height:1.2;">
          SkillBridge – SkillBridge Pvt. Ltd.<br>
          Kumaripati, Lalitpur, Nepal<br>
          +977-9821287731 | contact@skillbridge.com
        </p>
        <div class="d-flex">
          <a href="#" class="text-white me-2"><i class="bi bi-facebook"></i></a>
          <a href="#" class="text-white me-2"><i class="bi bi-linkedin"></i></a>
          <a href="#" class="text-white me-2"><i class="bi bi-instagram"></i></a>
          <a href="#" class="text-white"><i class="bi bi-twitter"></i></a>
        </div>
      </div>

      <div class="col-sm-2 mb-4">
        <h5>About SkillBridge</h5>
        <ul class="list-unstyled">
          <li><a href="#">About us</a></li>
          <li><a href="#">Our Services</a></li>
          <li><a href="#">Our Blogs</a></li>
          <li><a href="#">Contact us</a></li>
        </ul>
      </div>

      <div class="col-sm-2 mb-4">
        <h5>For Candidates</h5>
        <ul class="list-unstyled">
          <li><a href="#">Build your CV and profile</a></li>
          <li><a href="#">Internship/Jobs</a></li>
          <li><a href="#">Browse Events</a></li>
        </ul>
      </div>

      <div class="col-sm-2 mb-4">
        <h5>For Employers</h5>
        <ul class="list-unstyled">
          <li><a href="#">Become an Employer</a></li>
          <li><a href="#">Post New Internship</a></li>
        </ul>
      </div>

      <div class="col-sm-2 mb-4">
        <h5>For Institutes</h5>
        <ul class="list-unstyled">
          <li><a href="#">Register as Institute</a></li>
          <li><a href="#">Organize an event</a></li>
        </ul>
      </div>

      <div class="col-sm-2 mb-4">
        <h5>Helpful Resources</h5>
        <ul class="list-unstyled">
          <li><a href="{% url "privacy" %}">Privacy Policy</a></li>
          <li><a href="{% url "terms" %}">Terms of use</a></li>
          <li><a href="#">FAQs</a></li>
        </ul>
      </div>
    </div>

    <hr class="bg-secondary">
    <p class="text-center text-white-50 small mb-0" style="font-size:0.7rem;">
      2024 All Rights Reserved © SkillBridge – SkillBridge Pvt. Ltd.
    </p>
  </div>
</footer>